fastapi[standard]>=0.115.0,<1
uvicorn[standard]>=0.30.6,<1
numpy>=2.1,<3
pandas>=2.2,<3
scipy>=1.14,<2
xarray>=2024.6,<2027
netCDF4>=1.7,<2
earthaccess>=0.11,<1
requests>=2.32,<3
beautifulsoup4>=4.12,<5
pydantic>=2.8,<3
pyproj>=3.6,<4
cdsapi>=0.7.7,<0.8
